.info-pane
{
    background-color: #fff;
    padding: 2em;
    border: double 10px #333;
    max-width: 450px;
    line-height: 1.4em;
    opacity: 0;
    transition: opacity .6s ease-out;

    &--background
    {
        overflow: hidden;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: rgba(0,0,0,0);
        z-index: -1;
        top: 0;
        height: 100vh;
        transition: opacity .6s ease-out;
    }  


    &--close-btn
    {
        float: right;
        cursor: pointer;
        font-size: 1.4em;
        transition: color .3s ease-in;
    }

    &--close-btn:hover
    {
        color: #777;
        transition-timing-function: ease-out;
    }

    &--list-item
    {
        margin-bottom:5px;
    }

    &--label
    {
        text-transform: capitalize;
        font-weight: 700;
    }

    &--h1
    {
        font-size: 2rem
    }

    &--h2
    {
        font-size: 1.5rem;
        margin: 20px 0 10px;
    }

    &--anchor
    {
        color: orangered;
        text-decoration: none;
    }
    
    &--anchor:hover
    {
        text-decoration: underline;
    }  
}